.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.primary {
  color: #ffae6a;
}

.seconday {
  color: #ff6a6a;
}